.button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    background-color: var(--clr-accent);
    color: var(--clr-surface);
    text-transform: uppercase;
    width: 100%;
    padding: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    user-select: none;
    -webkit-user-select: none;
}

.button:disabled {
    cursor: not-allowed;
    background-color: var(--clr-disabled);
    color: var(--clr-surface);
}

.button_icon {
    fill: var(--clr-surface);
}

.button:disabled .button_icon {
    fill: var(--clr-surface);
}

@media (any-hover: hover) {
    .button:hover:not(:disabled) {
        cursor: pointer;
        background-color: transparent;
        outline: 0.125rem solid  var(--clr-accent);
        color: var(--clr-accent);
    }

    .button:hover:not(:disabled) .button_icon {
        fill: var(--clr-accent);
    }
}

.button:active:not(:disabled) {
    background-color: #83FF92;
    color: var(--clr-surface);
}

.button:active:not(:disabled) .button_icon {
    fill: var(--clr-surface);
}

@media (width >= 48rem) {
    .button {
        margin-top: 1rem;
        gap: 1.5rem;
        padding: 1.25rem;
    }
}
