.button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    background-color: #A4FFAF;
    text-transform: uppercase;
    width: 100%;
    padding: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.button:disabled {
    cursor: not-allowed;
    background-color: #55545C;
    color: #24232C;
}

.button:hover:not(:disabled) {
    cursor: pointer;
    background-color: transparent;
    outline: 0.125rem solid  #A4FFAF;
    color: #A4FFAF;
}

.button_icon {
    fill: #24232C;
}

.button:disabled .button_icon {
    fill: #24232C;
}

.button:hover:not(:disabled) .button_icon {
    fill: #A4FFAF;
}

@media (width >= 48rem) {
    .button {
        margin-top: 1rem;
        gap: 1.5rem;
        padding: 1.25rem;
    }
}