.password_container {
    height: 4rem;
    background-color: #24232C;
    padding-left: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password {
    color: #55545C;
    font-size: 1.5rem;
}

.password_filled {
    color: #E6E5EA;
    font-size: 1.5rem;
}

.btn_copy {
    background-color: transparent;
    border: none;
    line-height: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    align-self: stretch;
}

.iconCopy {
    height: 20px;
    fill: #A4FFAF;
}

.btn_copy:hover .iconCopy {
    cursor: pointer;
    fill: #ffffff;
}

@media (min-width: 768px) {
    .password_container {
        margin-bottom: 1.5rem;
        padding: 0.5rem 1rem 0.5rem 2rem;
    }

    .password {
        font-size: 2rem;
    }

    .password_filled {
        font-size: 2rem;
    }

    .iconCopy {
        height: 24px;
    }
}