.app {
    max-width: 33.75rem;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: #817D92;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 1rem;
}

@media (width >= 48rem) {
    h1 {
        font-size: 1.5rem;
        padding-bottom: 2rem;
    }
}
