.strengthMeter_container {
    background-color: var(--clr-background);
    display: flex;
    padding: 0.75rem 1rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.strengthMeter_label {
    text-transform: uppercase;
    color: var(--clr-typography-secondary);
}

.passwordStrength {
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
}

.passwordStrength_visual {
    display: flex;
    gap: 0.5rem;
}

.passwordStrength_visual_block {
    width: 0.625rem;
    height: 1.75rem;
    border: 0.125rem solid var(--clr-primary);
}

.tooWeak {
    border-color: var(--clr-danger);
    background-color: var(--clr-danger);
}

.weak {
    border-color: var(--clr-warning-dark);
    background-color: var(--clr-warning-dark);
}

.medium {
    border-color: var(--clr-warning);
    background-color: var(--clr-warning);
}

.strong {
    border-color: var(--clr-accent);
    background-color: var(--clr-accent);
}

@media (width >= 48rem) {
    .strengthMeter_container {
        padding: 1.25rem 2rem;
    }

    .passwordStrength {
        font-size: 1.5rem;
    }
}