.password_container {
    height: 4rem;
    background-color: #24232C;
    padding-left: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.password {
    color: #55545C;
    font-size: 1.5rem;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.password_filled {
    color: #E6E5EA;
}

.password_copied {
    text-transform: uppercase;
    font-size: 1.125rem;
    color: #A4FFAF;
}

.btn_copy {
    background-color: transparent;
    border: none;
    line-height: 0;
    padding: 0 1rem;
    align-self: stretch;
}

.iconCopy {
    height: 1.25rem;
    fill: #A4FFAF;
}

.btn_copy:hover .iconCopy {
    cursor: pointer;
    fill: #fff;
}

.btn_copy:disabled .iconCopy {
    cursor: not-allowed;
    fill: #55545C;
}

@media (width >= 48rem) {
    .password_container {
        margin-bottom: 1.5rem;
        padding: 0.5rem 1rem 0.5rem 2rem;
    }

    .password {
        font-size: 2rem;
    }

    .password_filled {
        font-size: 2rem;
    }

    .iconCopy {
        height: 1.5rem;
    }
}