.slider_container {
    background-color: #24232C;
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
}

.length {
    font-size: 1.5rem;
    color: #A4FFAF;
}

.range_input {
    appearance: none;
    width: 100%;
    height: 0.5rem;
}

.range_input::-webkit-slider-thumb {
    appearance: none;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: #E6E5EA;
    cursor: pointer;
}

.range_input::-webkit-slider-thumb:hover {
    border: 0.125rem solid #A4FFAF;
    background-color: #18171F;
}

.range_input::-moz-range-thumb {
    height: 1.75rem;
    width: 1.75rem;
    border: none;
    border-radius: 50%;
    background-color: #E6E5EA;
    cursor: pointer;
}

.range_input::-moz-range-thumb:hover {
    outline: 0.125rem solid #A4FFAF;
    background-color: #18171F;
}

.range_input::-webkit-slider-runnable-track {
    cursor: pointer;
}

.range_input::-moz-range-track {
    cursor: pointer;
}

@media (width >= 48rem) {
    .label {
        padding-bottom: 1rem;
    }

    .length {
        font-size: 2rem;
    }
}