.slider_container {
    background-color: var(--clr-surface);
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
}

.length {
    font-size: 1.5rem;
    color: var(--clr-accent);
}

.range_input {
    appearance: none;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-border-radius: 0;
    width: 100%;
    height: 0.5rem;
}

.border_radius_left {
    border-radius: 1rem 0 0 1rem;
}

.border_radius_right {
    border-radius: 0 1rem 1rem 0;
}

.range_input::-webkit-slider-thumb {
    appearance: none;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--clr-primary);
    cursor: pointer;
}

.range_input::-webkit-slider-thumb:hover {
    border: 0.125rem solid var(--clr-accent);
    background-color: var(--clr-background);
}

.range_input::-moz-range-thumb {
    height: 1.75rem;
    width: 1.75rem;
    border: none;
    border-radius: 50%;
    background-color: var(--clr-primary);
    cursor: pointer;
}

.range_input::-moz-range-thumb:hover {
    outline: 0.125rem solid var(--clr-accent);
    background-color: var(--clr-background);
}

.range_input::-webkit-slider-runnable-track {
    cursor: pointer;
}

.range_input::-moz-range-track {
    cursor: pointer;
}

@media (width >= 48rem) {
    .label {
        padding-bottom: 1rem;
    }

    .length {
        font-size: 2rem;
    }
}